      @font-face{
        font-family:Batch;
        src:url('./Batch/Webfont/batch-icons-webfont.eot');
        src:url('./Batch/Webfont/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
          url('./Batch/Webfont/batch-icons-webfont.woff') format('woff'),
          url('./Batch/Webfont/batch-icons-webfont.ttf') format('truetype'),
          url('./Batch/Webfont/batch-icons-webfont.svg#batchregular') format('svg');
        font-weight:normal;
        font-style:normal;
      }
      .batch {
        font-family:"Batch"; /*or whatever you've decalred your font name as*/
        font-size:16px;
        line-height:1;
        display:inline-block;
      }
	[class^="batch-"]:before, [class*=" batch-"]:before,
	[class^="batch-"]:after, [class*=" batch-"]:after {   
		font-family:"Batch";
    height: 20px;
        font-size:20px;
        display:inline-block;
	}
 .batch-success:after{
	content:"";
       }
 .batch-error:after{
  content:"\f15A";
       }
 .batch-waring:after{
  content:"\f15B";
       }       
